<a href="/projects/f-18/" class="{{edBlock.class}}">
    <div class="img-holder">
        <image-block type="img-block" dataImgid="{{edBlock.imageHolder.dataImgid}}"></image-block>
    </div>
    <div ng-if="edBlock.hasSubImage" class="subimgs">
        <div class="subimg-holder" ng-repeat="item in edBlock.subImageHolder.div">
            <image-block type="img-block" dataImgid="{{item.dataImgid}}"></image-block>
        </div>
    </div>
    <div class="{{edBlock.meta.class}}">
        <span href="{{edBlock.meta.eyebrow.href}}"
              class="{{edBlock.meta.eyebrow.class}}">{{edBlock.meta.eyebrow.text}}</span>
        <span class="views">{{edBlock.meta.views.text}}</span>
        <span class="timestamp">{{edBlock.meta.timestamp.text}}</span>
    </div>
    <div class="{{edBlock.text.class}}">
        <h4>{{edBlock.text.h4}}</h4>
        <h5 ng-if="edBlock.text.hasAuthor" class="byline"><em>by</em>{{edBlock.text.h5.text}}</h5>
			<span class="body">
                {{edBlock.text.span.text}}
			</span>
    </div>
</a>