<a href="{{edBlock.href}}" class="{{edBlock.class}}">
    <div class="img-holder">
        <image-block type="img-block" dataImgid="{{edBlock.imageHolder.dataImgid}}"></image-block>
    </div>
    <div class="{{edBlock.meta.class}}">
        <span href="{{edBlock.meta.eyebrow.href}}"
              class="{{edBlock.meta.eyebrow.class}}">{{edBlock.meta.eyebrow.text}}</span>
        <span class="views">{{edBlock.meta.views.text}}</span>
        <span class="timestamp">{{edBlock.meta.timestamp.text}}</span>
    </div>
    <div class="{{edBlock.text.class}}">
        <h4>{{edBlock.text.h4}}</h4>
			<span class="body">
                {{edBlock.text.span.text}}
			</span>
    </div>
</a>