<div class="thumb-block browse-item feed-product third  has-txt mbhalf">
    <div class="img-holder ">
        <image-block type="img-block" dataImgid="{{thumbBlock.dataImgid}}"></image-block>
    </div>

    <div class="txt js-use-pushstate" href="/products/steelbuilt-curtainwall-systems/">
        <h4>{{thumbBlock.h4}}</h4>
        <span href="{{thumbBlock.span.href}}" class="body has-link js-use-pushstate"><span class="by">by</span>{{thumbBlock.span.text}}</span>
    </div>
    <div class="bg"></div>
</div>
