<a href="http://www.google.com" class="row">
    <div class="num up">
        <span class="glyph">w</span>
    </div>
    <div class="txt">
        <span class="title">Dreamscapes: 8 Imaginary Cities from the Mystical Minds of Concept Artists</span>
        <span class="time">21 hours</span>
        <span class="sep">·</span>
        <span class="views">6323</span>
    </div>
    <div class="img is-loaded"
         data-globalid="media.mediaitemattribution.1065944"
         data-imgid="1065944"
         data-focustop="0.5"
         data-focusleft="0.5"
         data-imgorigwidth="800"
         data-imgorigheight="600"
         href="/projects/kelly-cullen-community/"
         style="background-image: url(https://acdn.architizer.com/thumbnails-PRODUCTION/99/96/9996cfdd67c0045899c7e28ea667318d.jpg);background-position: 50% 50%;">
    </div>
</a>

<!--<tr href="/blog/dreamscapes/" class="js-use-pushstate">-->
<!--<td class="num up">-->
<!--<span class="glyph">w</span>-->
<!--</td>-->
<!--<td class="txt">-->
<!--<span class="title">Dreamscapes: 8 Imaginary Cities from the Mystical Minds of Concept Artists</span>-->
<!--<span class="time">21 hours</span>-->
<!--<span class="sep">·</span>-->
<!--<span class="views">6323</span>-->
<!--</td>-->
<!--<td class="img is-loaded"-->
<!--style="background-image: url(https://acdn.architizer.com/thumbnails-PRODUCTION/a2/64/a2648ddac114ba4ac6dd029c38d8b19b.jpg); background-position: 50% 50%;">-->
<!--</td>-->
<!--</tr>-->
